table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {

  font-weight: 600;
  margin-bottom: .5em;
  padding: .1em 0em;
  text-align: center;
}

td {
  
  padding: .1em 0em;
}

tr,
td,
th {
  text-align: center;
  vertical-align: middle;
}
