.accordion-tabs {


  @include clearfix;
  padding: 0;

  .tab-header-and-content {
    list-style: none;


      display: inline;

  }

  .tab-link {
    display: block;
    padding-right: 1em;


      display: inline-block;

  }

  .is-active {
    color: $action-color;
  }

  .tab-content {
    display: none;
    width: 100%;
      float: left;

  }
}
